# Secrets and settings
.env
*.env
.env.local
secrets.py
settings/local.py
.aws/
secrets.yml

*.sqlite3
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
.python-version

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

staticfiles/
media/


*.log

/migrations/
!*/migrations/__init__.py

# Packages
*.egg-info/
dist/
build/
